:root {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background: linear-gradient(to top, rgb(200, 200, 230), rgb(225, 225, 245), rgb(200, 200, 230));
  font-synthesis: none;
  overflow-x: hidden;
  scrollbar-width: none;
  text-align: center;
  text-rendering: optimizeLegibility;
}
